<!DOCTYPE html>
<html>
<head>
  <title>LoginAndRegistration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <a href="/logout" data-method="delete" style="float: left; margin-left: 10px; font-size: 22px">Logout</a>
  <br>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
